In [2]:
print("This is from ubuntu")

This is from ubuntu

In [4]:
11name = 10

SyntaxError: invalid syntax (<ipython-input-4-5ba6a5fc8c21>, line 1)

In [5]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
a = None
b = None
print(id(a), id(b))

9484816 9484816

In [7]:
a = 0B110011
print(a)

51

In [9]:
a = 0B140011
print(a)

SyntaxError: invalid digit '4' in binary literal (<ipython-input-9-c45664134a8d>, line 1)

In [10]:
bin(51)

'0b110011'

In [11]:
type(bin(51))

str

In [14]:
name = [255]
x = bytes(name)

In [15]:
l = list(range(10, 20, 3))

In [16]:
l

[10, 13, 16, 19]

In [17]:
set(l)

{10, 13, 16, 19}

In [20]:
print(type(set(l)))
print(type(l))

<class 'set'>
<class 'list'>

In [21]:
10//5

2

In [22]:
10.0//5

2.0

In [23]:
2.5*'Dhinesh'

TypeError: can't multiply sequence by non-int of type 'float'

In [27]:
4/0

ZeroDivisionError: division by zero

In [28]:
a = True
b = True
print(id(a), id(b))

9476448 9476448

In [29]:
not False

True

In [30]:
10 and 'dhinesh'

'dhinesh'

In [32]:
10 or 'dhinesh'

10

In [33]:
10&10

10

In [35]:
10&20

0

In [36]:
10&True

0

In [38]:
10&10.5

TypeError: unsupported operand type(s) for &: 'int' and 'float'

In [39]:
x = 10
x += 20
print(x)

30

In [40]:
x = 30 if 10< 2 else "This is not true"
print(x)

This is not true

In [41]:
import math
print(math.pi)

3.141592653589793

In [42]:
math.nan

nan

In [46]:
a = True if (10>2 and 10>5) else 10
print(a)

True

In [47]:
a = [1,2,3]
del a[1]
print(a)

[1, 3]