In [1]:
########## Lambdas ##########

In [2]:
#Lamndas are functions with no namess . Like ananymous functions in lambda

In [5]:
square = lambda num: num*num

In [6]:
square(9)

81

In [7]:
add = lambda a,b: a+b

In [8]:
add(3,10)

13

In [9]:
add.__name__

'<lambda>'

In [10]:
#cann be used with tkinter like appes to set the event

In [11]:
#### map function ##### accepts a function and an iterable.

In [12]:
numbers = [1,2,3,4]

In [13]:
doubles = map(lambda x: x*2, numbers)

In [14]:
doubles

In [15]:
for num in doubles:
    print(num)

2
4
6
8

In [16]:
list(doubles) # it will print empty list because map can be iterated only once. we need to inititalize again

[]

In [17]:
for num in doubles:
    print(num)

In [26]:
names = [
    {"first": "kanu", "last":"hasini"},
    {"first": "dhinesh", "last":"babu"},
]

first_names = list(map(lambda x: "hello "+x['first'], names))

In [27]:
first_names

['hello kanu', 'hello dhinesh']

In [21]:
######## filter function ######## Filter out required values from the list based on a condition

In [22]:
l = [1,2,3,4,5] 
evens = list(filter(lambda x: x%2 == 0, l))

In [23]:
evens

[2, 4]

In [30]:
users = [
    {'name': 'kanu', 'tweets': ["hello", "sample"]},
    {'name': 'dhinesh', 'tweets': []},
    {'name': 'ram', 'tweets': ["hellow", "sample"]}
]

In [35]:
inactive_users = list(filter(lambda u:not u['tweets'], users))

In [36]:
inactive_users

[{'name': 'dhinesh', 'tweets': []}]

In [37]:
names = ["kanu", "dhinesh", 'hasini']

In [39]:
instructor = list(map(lambda name: f"Your instructor {name}", filter(lambda value: len(value) <5, names)))

In [41]:
instructor

['Your instructor kanu']

In [42]:
#achieving the same using list comprehensions
[f"your instructor {name}" for name in names if len(name) <5]

['your instructor kanu']

In [43]:
################### Any and All functions #################
# All() function takes an iterable and returns if all the elements are truthy

In [44]:
name = ['dhinesh', 'kanu']
print(all(name))

True

In [45]:
name = ['dhinesh', 'kanu', '']
print(all(name))

False

In [47]:
# we can use like below
people = ["kanu", "kumar", "karthi"]
print(all([name[0] == 'k' for name in people]))

True

In [48]:
#any() will return true if any of the list items is ture
print(any([name[0] == 't' for name in people]))

False

In [49]:
##### generator Expressions ####
(name[0] == 'k' for name in people)

In [50]:
#generator will consume less memory in the system and will improve the performance

In [51]:
import sys
list_exp = sys.getsizeof([x*10 for x in range(1000)])
gen_exp = sys.getsizeof(x*10 for x in range(1000))

print(f"For List Comprenesion: {list_exp} bytes")
print(f"For Generator Expression: {gen_exp} bytes")

For List Comprenesion: 9024 bytes
For Generator Expression: 120 bytes

In [52]:
#returns new sorted list from the items iterable. it will sort in place

In [53]:
more_numbers = [1,2,3,4]

In [54]:
sorted(more_numbers)

[1, 2, 3, 4]

In [56]:
more_numbers

[1, 2, 3, 4]

In [58]:
#reverse sorting
sorted(more_numbers, reverse=True)

[4, 3, 2, 1]

In [59]:
#sorting tuples
sorted((3,2,45,6))

[2, 3, 6, 45]

In [61]:
users = [
    {'name': 'kanu', 'tweets': ["hello", "sample"]},
    {'name': 'dhinesh', 'tweets': [], "additioanlkey":'sample'},
    {'name': 'ram', 'tweets': ["hellow", "sample"]}
]

In [62]:
sorted(users, key=len)

[{'name': 'kanu', 'tweets': ['hello', 'sample']},
 {'name': 'ram', 'tweets': ['hellow', 'sample']},
 {'name': 'dhinesh', 'tweets': [], 'additioanlkey': 'sample'}]

In [63]:
users

[{'name': 'kanu', 'tweets': ['hello', 'sample']},
 {'name': 'dhinesh', 'tweets': [], 'additioanlkey': 'sample'},
 {'name': 'ram', 'tweets': ['hellow', 'sample']}]

In [65]:
sorted(users, key=lambda user:user['name'])#sorting based on user name

[{'name': 'dhinesh', 'tweets': [], 'additioanlkey': 'sample'},
 {'name': 'kanu', 'tweets': ['hello', 'sample']},
 {'name': 'ram', 'tweets': ['hellow', 'sample']}]

In [66]:
sorted(users, key=lambda user:len(user['tweets']))

[{'name': 'dhinesh', 'tweets': [], 'additioanlkey': 'sample'},
 {'name': 'kanu', 'tweets': ['hello', 'sample']},
 {'name': 'ram', 'tweets': ['hellow', 'sample']}]

In [67]:
sorted(users, key=lambda user:len(user['tweets']), reverse= True)

[{'name': 'kanu', 'tweets': ['hello', 'sample']},
 {'name': 'ram', 'tweets': ['hellow', 'sample']},
 {'name': 'dhinesh', 'tweets': [], 'additioanlkey': 'sample'}]

In [68]:
###### max() function ############

In [69]:
max(3,67,99)

99

In [70]:
max('c','d','e')

'e'

In [71]:
nums = [2,344,56,677]

In [72]:
max(nums)

677

In [73]:
max("hello world")

'w'

In [74]:
#min is opposite to max

In [75]:
names = ["dhinesh", "kanu", "bru"]

In [76]:
min(names)

'bru'

In [77]:
min(len(name) for name in names)

3

In [78]:
#using lambda in min max functions
max(names, key=lambda n: len(n))

'dhinesh'

In [80]:
songs = [
    {'name': 'tamil', "playcount": 10},
    {'name': 'english', "playcount": 9},
    {'name': 'hindi', "playcount": 74}
]

In [81]:
min(songs, key = lambda s: s['playcount'])

{'name': 'english', 'playcount': 9}

In [83]:
min(songs, key = lambda s: s['playcount'])['name']

'english'

In [84]:
######reversed function##### -> takes an iterable collection adn returns list_reverseiterator when run on a list.
#This will not change the actual iterable

In [85]:
for char in reversed("hello world"):
    print(char)

d
l
r
o
w

o
l
l
e
h

In [86]:
########## len() function and Special sneak peak of OOP ###########
#len() method calls __len__() method for the given value internally

In [87]:
len("hello")

5

In [88]:
"hello".__len__()

5

In [89]:
########## abs() method ######## return the absolute value of a number. Positive number

In [90]:
abs(-23)

23

In [91]:
abs(3.444)

3.444

In [92]:
import math
num = math.fabs(-3) # this method is similar to abs()
print(num)

3.0

In [93]:
########## sum() method ######## takes an iterable and an optioanl start
# calcualtes the sum of the iterables and returns the total
#start defaults to 0

In [94]:
sum([1,23,3])

27

In [95]:
sum([1,2,3], 10)# will add 1,2,3 to 10 (start value)

16

In [97]:
sum([1,2,3], -6)

0

In [98]:
sum((1.5,2,3.7)) #tuples

7.2

In [100]:
sum(['hi', 'there'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [101]:
sum(['hi', 'there'], "wow")

TypeError: sum() can't sum strings [use ''.join(seq) instead]

In [102]:
###### round() method ######

In [103]:
# returns number rounded to ndigits precision after the decimal point . if ndigit is omitted or is None, it returns the nearest integer to its input

In [104]:
round(101.5)

102

In [106]:
round(1.155475,3) # 3 decimal places

1.155

In [107]:
round(1.155475,None) # it iwill remove the integer

1

In [108]:
#special case
round(9.9999999999999999999999999999999999999, 15)

10.0

In [109]:
################################ ZIP Basics ###############
#if we have 2 lists, it will merge and retun the iterator of tuples

In [110]:
nums1 = [1,2,3]
nums2 = [6,7,8]

In [111]:
zip(nums1, nums2)

In [116]:
list(zip(nums1, nums2))

[(1, 6), (2, 7), (3, 8)]

In [117]:
dict(zip(nums1, nums2))

{1: 6, 2: 7, 3: 8}

In [118]:
#uneven numbers list
nums1 = [1,2,3,4,5]
nums2 = [6,7,8]

In [119]:
list(zip(nums1, nums2))# it will skip the additioanl valules from the larger list

[(1, 6), (2, 7), (3, 8)]

In [120]:
#merging 3 lists
names = ["kanu", "dhinesh", "bru"]

In [122]:
list(zip(names, nums1, nums2))

[('kanu', 1, 6), ('dhinesh', 2, 7), ('bru', 3, 8)]

In [ ]:
# using * operator to unpace tuple list

In [123]:
five_by_2 = [(0,1), (1,2), (2,3), (3,4)]

In [124]:
list(zip(*five_by_2))

[(0, 1, 2, 3), (1, 2, 3, 4)]

In [125]:
####################### More complex Zip Examples ####################

In [126]:
midterms = [80,91,78]
finals = [98,89,53]
students = ['dan', 'ang', 'kate']

In [127]:
[pair for pair in zip(midterms, finals)]

[(80, 98), (91, 89), (78, 53)]

In [128]:
[max(pair) for pair in zip(midterms, finals)]

[98, 91, 78]

In [131]:
#making dictioanry
{t[0]: max(t[1], t[2]) for t in zip(students, midterms, finals)}

{'dan': 98, 'ang': 91, 'kate': 78}

In [135]:
# with lambda and map
list(map(
    lambda pair: max(pair),
    zip(midterms,finals)
))

[98, 91, 78]

In [137]:
# another level of zip
list(zip(students,
    list(map(
    lambda pair: max(pair),
    zip(midterms,finals)
))))

[('dan', 98), ('ang', 91), ('kate', 78)]

In [138]:
#dictionary
dict(zip(students,
    list(map(
    lambda pair: max(pair),
    zip(midterms,finals)
))))

{'dan': 98, 'ang': 91, 'kate': 78}