## Slice Operators

In [2]:
# Capitalizing last character
s = "Dhinesh"
output = s[0:len(s)-1] + s[-1].upper()
print(output)
# Capitalizing first character
s1="dhinesh"
output1 = s[0].upper()+s[1:]
print(output1)
#Using inbuilt function
print(s1.capitalize())

DhinesH
Dhinesh
Dhinesh

## + and * operator for str
1. '+' operator can be applied only if both operands are string
2. '*' operator can be applied if one of the operands is string and other is integer

In [137]:
s = "dhinesh" + "Kanu"
print(s)

dhineshKanu

In [138]:
# This will give error
s = "dhinesh" + 1
print()

TypeError: must be str, not int

In [304]:
# Using * - string repetition operator
s = "dhinesh"
print(s*3)

dhineshdhineshdhinesh

In [305]:
# we can not apply * operator between strings
s1 = "dhinesh" * "dhinesh"

TypeError: can't multiply sequence by non-int of type 'str'

## Type Casting

### int() conversion

In [337]:
# int() conversion
# from float
print(int(10.343))

10

In [338]:
#Complex types can not be converted into int type
i = 10+23j
print(int(i))

TypeError: can't convert complex to int

In [339]:
#bool to int
print(int(True)) #1
print(int(False)) #2

1
0

In [340]:
#String to int - compulsory string should internally contain only integral value (in decimal)
print(int('14'))

14

In [341]:
#This will give error
print(int('0b111011010'))

ValueError: invalid literal for int() with base 10: '0b111011010'

In [342]:
int(10.5)

10

### float() conversion

In [343]:
# we can give any integral number
print(float(10))
print(float(0b1111))
print(float(0xface))

10.0
15.0
64206.0

In [344]:
# complex to float cannot be done
i = 10+20j
print(float(i))

TypeError: can't convert complex to float

In [345]:
# Boolean to float type
print(float(True))
print(float(False))

1.0
0.0

In [346]:
# string to float type - internally string should contain either int or float but shoudl be in base10 (decimal)
# other string or non-decimal nnumbers as string can not be used
print(float("10.7"))
print(float("10"))

10.7
10.0

## Complex conversion
1. Form 1: complex(x)
2. Form 2: complex(real, imaginary)

In [347]:
complex(10)

(10+0j)

In [348]:
complex(0b1111)

(15+0j)

In [349]:
complex(10.5)

(10.5+0j)

In [350]:
complex(True)

(1+0j)

In [351]:
complex(False)

0j

In [352]:
# string - should contain either int or float with decimal
print(complex("10"))
print(complex("12.5"))

(10+0j)
(12.5+0j)

In [353]:
# Real and imaginar values
print(complex(10,20))
print(complex(10.5, 20.7))

(10+20j)
(10.5+20.7j)

In [354]:
#with string - cant take string in imaginary if real is string
print(complex("10", "20"))

TypeError: complex() can't take second arg if first is a string

## bool conversion

In [356]:
# int argument - If argument is 0 then False , else True
print(bool(10))
print(bool(0))
print(bool(-1)) # True for negative number also

True
False
True

In [355]:
# float argument
print(bool(0.0))
print(bool(0.1))
print(bool(-0.1)) # THis is True because non-zero

False
True
True

In [357]:
#complex
print(bool(0+0j)) # only this case return false
print(bool(0+1j))
print(bool(1+0j))

False
True
True

In [358]:
#str argument - if argument is empty string then only False else True in all other cases
print(bool("True"))
print(bool("False"))
print(bool("yes"))
print(bool("0"))
print(bool("1"))
print(bool("")) # Only this case is False

True
True
True
True
True
False

## str conversion
### All cases are allowed - refer the below code

In [3]:
print(str(10))
print(str(0b1111))
print(str(0o2314214))
print(str(0xface))
print(str(10.1))
print(str(-10.3))
print(str(10+10j))
print(str(True))
print(str(False))
print(type(True))

10
15
628876
64206
10.1
-10.3
(10+10j)
True
False
<class 'bool'>

***
# Fundamental Data Types vs Immutability
***

 - Mutable - Changable
 - Immutable - Non-Changable

In [360]:
# demo
x=10
print(id(x))
x = x+1 # a new object is created if there is any change happened to the existing object. Old address is now eligible for GC
print(id(x)) # two different object address will be printed

10914784
10914816

In [362]:
# if 3 variables with the same name is created, only one object will be created
a = 10
b = 10
c = 10
print(id(a), id(b), id(c)) # all the 3 will be reusing an object to improve performance and save memory
# we can check with 'is' operaor - return True if both pointing to the same object
print(a is b)
print(a is c)

10914784 10914784 10914784
True
True

In [363]:
## For complex types this immutability is not applicable 
a = 10+20j
b = 10+20j
print(a is b)

False

In [364]:
# New objects will not be created for types like list, tuple and etc, (reference types)
l = [10, 20, 30]
print(id(l))
l[0] = 40
print(id(l)) # both will print the same address

139786748056584
139786748056584

In [365]:
# another example
l1 = [10, 20, 30]
l2 = l1
l2[0] = 19 # this will get reflected for both l1 and l2
print(l1)
print(l2)

[19, 20, 30]
[19, 20, 30]

# Collection related data type
 - list
 - tuple
 - set
 - frozenset
 - dict
 - range
 - bytes
 - bytearray
 ***

## list type
- insertion order preserved
- duplicates allowed
- [] are used to represent a list

In [1]:
l = [10, 20, 40, 30, 'dhinesh']
print(type(l))
print(l)

<class 'list'>
[10, 20, 40, 30, 'dhinesh']

In [367]:
# slice operator are allowed in lists
print(l[-1])
print(l[1:3])

dhinesh
[20, 40]

In [368]:
# adding element
l = []
l.append(10)
l.append(20)
l.append("dhinesh")
print(l)
l.remove(10)
print(l)

[10, 20, 'dhinesh']
[20, 'dhinesh']

## Tuple
- Immutable list , cannot be modified

In [1]:
t = (10, 20, 30, 'dhinesh')
print(type(t))
print(t)

<class 'tuple'>
(10, 20, 30, 'dhinesh')

In [2]:
# slicing and indexing allowed
print(t[1:4])

(20, 30, 'dhinesh')

In [3]:
# tuple is immutable can not be modified
# also append() and remove() methods are not available
t[0] = 232

TypeError: 'tuple' object does not support item assignment

In [4]:
# Empty tuple
t = ()
print(type(t))

<class 'tuple'>

In [9]:
#Be cautious with single element in tuple
t = (10)
print(type(t)) # THis will print int instead of tuple. So we have to use (10,) for tuple with single element
t1 = (10,)
print(type(t1))

<class 'int'>
<class 'tuple'>

***
## Set type
- Duplicates are not allowed
- Order not required
- slicing is not allowed
***

In [10]:
s = {1,2,3, "dhinesh"}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 'dhinesh'}

In [11]:
#duplicates will be remove. But no guarantee for the insertion order
s = {"dhinesh", "kanu", "dhinesh", 10, 10}
print(s)

{'kanu', 10, 'dhinesh'}

In [12]:
# No indexing and slicing allowed for sets
s[1]

TypeError: 'set' object does not support indexing

In [13]:
#addding elements
s = {10, 20, 30}
s.add("dhinehs")
print(s)
s.remove(20)
print(s)

{'dhinehs', 10, 20, 30}
{'dhinehs', 10, 30}

In [14]:
# empty set can be created using set() constructor
s = set()
print(type(s)) # This is set
s1 = {}
print(type(s1)) # This is dictionary

<class 'set'>
<class 'dict'>

***
## FrozenSet
- immutable set is FrozenSet
***

In [16]:
s = {10, 20, 30, 40}
fs = frozenset(s)
print(type(fs))

<class 'frozenset'>

In [17]:
# can not add or remove data
fs.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

***
## Dictionary
***

In [18]:
d = {10: "Dhinesh", 20: "kanu"}
print(d)
print(type(d))

{10: 'Dhinesh', 20: 'kanu'}
<class 'dict'>

In [19]:
#adding elements. But insertion order will not be preserved
d = {10: "Dhinesh", 20: "kanu"}
d[300] = "Bru"
print(d)

{10: 'Dhinesh', 20: 'kanu', 300: 'Bru'}

In [20]:
# Duplicate keys are not allowed
d = {10: "Dhinesh", 20: "kanu"}
d[20] = "Bru" # if the key is already available, then the old value will be replaced with new value
print(d)

{10: 'Dhinesh', 20: 'Bru'}

***
## range data type
- range object is immutable. Can not change the value once created
***

In [21]:
r = range(10)
print(type(r))
print(r)

<class 'range'>
range(0, 10)

In [22]:
# extracting the values from range
for x in r:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [23]:
# Form 1-  range(n) (sequence of numbers from 0 to 1)
range(100)

range(0, 100)

In [24]:
# Form 2  - range(begin, end) (from begin oto end-1)
r = range(10, 20)
for x in r:
    print(x)

10
11
12
13
14
15
16
17
18
19

In [26]:
# Form 3 - range(begin, end, increment/decrement)
r = range(1, 21, 2)
for x in r:
    print(x)

1
3
5
7
9
11
13
15
17
19

In [27]:
# going backward using negative increment / decrement
r = range(20, 1, -5)
for x in r:
    print(x)

20
15
10
5

In [28]:
# reading elements in range using indexing (note: slicing also allowed)
r = range(10, 20)
print(r[3])

13

***
## bytes data type 
- can have values only from 0 to 255
***

In [29]:
l = [10, 20 ,30]
b = bytes(l)
print(type(b))

for x in b:
    print(x)

<class 'bytes'>
10
20
30

In [30]:
# error if we use value more than 255
l = [10, 20 ,256]
b = bytes(l)
print(type(b))

ValueError: bytes must be in range(0, 256)

In [31]:
# This is immutable so can't change the value
l = [10, 20 ,30]
b = bytes(l)
print(type(b))
b[0] = 11

<class 'bytes'>

TypeError: 'bytes' object does not support item assignment

***
## bytearray data type
- This is mutable bytes (anyhow the value should be between 0 and 255)
***

In [33]:
l = [10, 20 ,30, 40]
b = bytearray(l)
print(type(b))
b[3] = 40
for x in b:
    print(x)

<class 'bytearray'>
10
20
30
40

***
## None Data Type
- PVM will create only one NoneType and the same will be used for all the references
***

In [37]:
#functions return None if no explicit return specified
def f1():
    print("something")

value = f1()
print(value) # This will print None
#None is also an object, so it will have address and type
print(id(value))
print(type(value))
#all the NoneType will reference a single object in the address
print(id(None)) # observe the same address as above

something
None
10306432
<class 'NoneType'>
10306432

***
## Escape characters
- \n 
- \t
- \b
- \r
- \'
- \"
- \f
- \\
***

In [38]:
## Constants in python will be written in UPPERCASE
MAX_VALUE = 100

In [1]:
def test_none():
    pass

print(test_none())

None

In [2]:
None is None

True