***
## Arithmetic Operators ##############

* "+" "-" "*" "/" "%" Basic operators
* // - Floor Division Operator
* ** - Exponential operator
***

In [2]:
a=10
b=3
print(a%b)
print(b%a)

1
3

In [3]:
# division will always return float result
print(10/2)

5.0

In [5]:
# floor division operator is for both integral and float based on the arguments
# if both arguments are int then flor division will give int only
# Also it will consider only floor value
print(10//2) # 5
# if either of the arguments is float then floor division will give float value
print(10.0//2) # 5.0

5
5.0

In [6]:
# ** - power or exponential operator
print(10**2) # 10*10

100

In [7]:
print(10**3) # 10*10*10

1000

In [12]:
# + operator
# we can apply '+' to both numbers and string
# both should be either strings or numbers
print(10+20)
print('dhinesh'+'babu')

30
dhineshbabu

In [13]:
# if we try to add string with numbers directly, we will get TypeError
print(10+'string')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
# we can convert the number before + operation
print('dhinesh'+str(10))

dhinesh10

In [16]:
# * operator can be used with int for string objects to repeat the string
print("dhinesh"*6) # order can be anything. (6 * 'dhinesh') will also work

dhineshdhineshdhineshdhineshdhineshdhinesh

In [17]:
# we can not multiple 2 strings
print("dhinesh"*"babu")

TypeError: can't multiply sequence by non-int of type 'str'

In [19]:
# apply the value 0 for any operator such as / % // will give zero division error
print(10//0)

ZeroDivisionError: integer division or modulo by zero

In [22]:
print(10%0)

ZeroDivisionError: integer division or modulo by zero

In [23]:
# multiplying string with boolean
print("dhinesh"*True)

dhinesh

In [25]:
print("DHinesh"*False) # will give empty string

***
## Relational Operators 
***

In [27]:
# For characters / string , this will compare the unicode values
print('A' > 'a')

False

In [28]:
print(ord('a'))
print(ord('A'))

97
65

In [29]:
# string comparison. it will compare from starting character
s1 = "dhinesh"
s2 = "babu"
print(s1 < s2)
print(s1 > s2)
print(s1 <= s2)
print(s1 >= s2)

False
True
False
True

In [30]:
#comparing equal strings
s1 = "dhinesh"
s2 = "dhinesh"
print(s1 < s2)
print(s1 > s2)
print(s1 <= s2)
print(s1 >= s2)

False
False
True
True

In [32]:
# small and capital letter
s1 = 'dhinesh'
s2 = "Dhinesh"
print(s1 > s2)
print(s1 < s2)

True
False

In [33]:
# Relational operators for Booleans. Corresponding int value will be compared
print(True > False)
print(True >= False)
print(True < False)
print(True <= False)

True
True
False
False

In [34]:
#can not compare number and string. Type Error
print(10 < "dhinesh")

TypeError: '<' not supported between instances of 'int' and 'str'

In [35]:
# using more than one comparison - Relational operator chaining
# if all comaprison returns True, then the result is True
# if any comparison return False, then the result is False
print(10<20)
print(10<20<30)
print(10<20<30<40)
print(10<20<30<40>50)

True
True
True
False

***
## Equality Operator
* == and !=
***

In [37]:
print(10==20)

False

In [38]:
print(10 != 20)

True

In [39]:
# differnet combinations
print(1 == True)
print(10 == 10.0)
print("dhinesh" == 'dhinesh')

True
True
True

In [40]:
# string and number comparison
print(10 == "durga")

False

In [41]:
print(10 == '10')

False

In [42]:
# Chaining of equality operator
# if all comaprison returns True, then the result is True
# if any comparison return False, then the result is False
print(10==20==30)
print(10==10.0==10==10)

False
True

In [45]:
# difference between == and 'is' operator
# 'is' is for reference or address comparison
# == is for content/value comparison
l1 = [10, 20, 30]
l2 = [10, 20, 30]
l3 = l1 # now both pointing to the same object and 'is' comparison will pass through
print(l1 is l2) # false. reference comparison
print(l1 == l2) # True. Value comparison
print(l1 is l3) # True

False
True
True

In [44]:
# value types will do object reusability
n1 = 10
n2 = 10
print(id(n1))
print(id(n2))
print(n1 is n2) # should return True since both the value types will use the same object

140703411455936
140703411455936
True

***
## Logical Operators 
* and or not
* For Boolean types -> 
    * and operator -> returns True if both are True else False
* For Boolean types -> 
    * or operator -> returns True if any of the arg is True else False
***

In [48]:
print(True and True)
print(True and False)

True
False

In [49]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [50]:
print(not True)
print(not False)

False
True

In [53]:
# Logical and operator for Non-boolean types
# 1. x and y => result is x or y but not boolean type
#  if x evaluates to False, then result is x
#  if x evaluates to True, then result is y
print(10 and 20) # since x  is evaluates to True so results is y taht is 20
print(0 and 20) # since x  is evaluates to False so results is x taht is 0

20
0

In [1]:
print('kanu' and '') # empty string
print('' and 'dhinesh') # empty string

In [56]:
# Logical or operator for Non-boolean types
# 1. x or y => result is x or y but not boolean type
#  if x evaluates to False, then result is y
#  if x evaluates to True, then result is x
print(10 or 20) # since x  is evaluates to True so results is x taht is 10
print(0 or 20) # since x  is evaluates to False so results is y taht is 20

10
20

In [2]:
# Logical not operator for Non-boolean types
# result is always boolean
print(not [])
print(not 'dhinesh')
print(not 0)
print(not "")
print(not 10)

True
False
True
True
False

***
## Bitwise operators 
* & bitwise and
* | bitwise OR
* ^ bitwise XOR
* ~ bitwise complement
* "<<" bitwise left-shift
* ">>" bitwise right-shift

* Bitwise oeprators can only be applied to int and bool types
***

In [60]:
print(10 & 20) # ok
print(10 & 20.0) # not ok

0

TypeError: unsupported operand type(s) for &: 'int' and 'float'

In [61]:
print('dhinesh' & 'dhinesh')

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [3]:
print(True & False)
print(False & False)
print(True & True)

False
False
True

In [62]:
print(4|5)

5

In [63]:
print(4^5)

1

In [64]:
print(4&5)

4

In [65]:
# Bitwise complement operator -  it will invert all the bits ( means all the 32 bits in 32 bit system)
# In the systems, the most signficant bit is a sign bit (0 for positive and 1 for negative)
# +ve numbers are usually represented directly in the memory
# -ve numbers are represented using 2's complement form in the memory ( 2's complement is ( 1's complement + 1))
print(~4) #

-5

In [66]:
# another example
print(~5)

-6

In [67]:
#another example
print(~ -4)

3