# Float Type

In [1]:
### Float Data Type ###
f = 12.34
print(type(f))

<class 'float'>

In [2]:
# No binary , Octal or Hexa decimal are not allowed for floating point operations
f1 = 0b111.01

SyntaxError: invalid syntax (<ipython-input-2-f7a917a1187a>, line 2)

In [3]:
# but we can use exponential form also (e or E allowed)
f3 = 1.2e3
print(f3)

1200.0

# Complex Data Type
## For advanced Mathematical calculations
a+bj -> only j can be used for complex types

In [10]:
x = 10+20j
print(type(x))
print(x.real)
print(x.imag) #

<class 'complex'>
10.0
20.0

In [13]:
# We can use real and imaginary part with both int or float
# real form can be hex, binary or octal but in imaginary only decimal can be used
x1 = 0b0011+20.6j # This is valid
print(x1) 
x2 = 15+0b111j # THis is invalid
print(x2)

SyntaxError: invalid syntax (<ipython-input-13-33c2195af759>, line 5)

In [14]:
# we can use any arithmetic operations on complex numbers
x3 = 10+20j
y3 = 20+30j
print(x3+y3)
print(x3-y3)
print(x3/y3)
print(x3*y3)

(30+50j)
(-10-10j)
(0.6153846153846154+0.0769230769230769j)
(-400+700j)

# Boolean Type
## True  / False

In [17]:
b1 = True
print(type(b1))

<class 'bool'>

In [21]:
# Arithmetic between 2 boolean values - True will become 1 nd False becomes 0
print(True + True)
print(True - False)
print(True * False)

2
1
0

# Multiple variable assignment

In [1]:
#multiple assignment at a line
a,b = 10, 20
print(a, b)

10 20

In [2]:
# same variable can be used for different types
a = 10
print(type(a))
a = 10.5
print(type(a))
a = "str"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

# Strings
We can use either single or double quotes

In [25]:
s = "dhinesh"
print(type(s))

<class 'str'>

In [26]:
# There is no char data type in python
s1 = 'a'
print(type(s1))

<class 'str'>

In [28]:
# triple quotes - also can be used for doc string
s2 = """
This is
a multiline
String. We can also use ''' instead of double quotes
"""
print(s2)

This is
a multiline
String. We can also use ''' instead of double quotes

In [29]:
# adding single quote as a character inside string then use ""
s4 = "This is sample string with'  single 'quote"
print(s4)

This is sample string with'  single 'quote

In [30]:
# Mixing both ' and " inside a string 
s5 = """ Using double " quotes and and using ' quotes inside triple quotes """
print(s5)

Using double " quotes and and using ' quotes inside triple quotes

In [2]:
sample = "name" + 10 # string can not be concated to non string variable

TypeError: can only concatenate str (not "int") to str

In [3]:
#  * operator can be used with strings to repeat the 
"str" * 5

'strstrstrstrstr'

In [4]:
# Adding boolean will convert them to 1 for True and 0 for False
True + True

2

In [5]:
# * operator can not be applied to 2 string
'str' * "dhinesh"

TypeError: can't multiply sequence by non-int of type 'str'

In [6]:
# with complex types only 'j' can be used
# No char data types in python. Even a single character can be used as string type in python
# fundamental types: int, str, complex, bool, float

In [7]:
############### Type Casting / Type Conversion #################
"""
5 inbuilt functions for type casting
int()
float()
complex()
bool()
str()
"""

In [8]:
int(10.989) # decimal places will be gone

10

In [9]:
int(-10.989)

-10

In [10]:
#complex to int conversion. can not be converted
int(10+20j)

TypeError: can't convert complex to int

In [11]:
#bool to int
int(True)

1

In [12]:
int(False)

0

In [13]:
#string to int. String should contain only integral value ans sholuld be available in base 10
int("10")

10

In [14]:
int("0B1011") # this will throw error

ValueError: invalid literal for int() with base 10: '0B1011'

In [15]:
int("11.12") # this will throw error

ValueError: invalid literal for int() with base 10: '11.12'

In [16]:
### float() conversion ####

In [17]:
#int to float conversion
float(15)

15.0

In [18]:
#any integral type with any base can be used
float(0B111)

7.0

In [19]:
#complex to float => can not be converted
float(10+6j)

TypeError: can't convert complex to float

In [20]:
#boolean to float()
float(True)

1.0

In [21]:
float(False)

0.0

In [22]:
#Str to float type. # String should contain either int or float but should be in base10
float("10")

10.0

In [23]:
float("2154")

2154.0

In [24]:
float("0B1111")

ValueError: could not convert string to float: '0B1111'

In [26]:
############## complex() conversion #################
#Form1 -> complex (x). x will become the real value
complex(10)

(10+0j)

In [27]:
complex(0B1111)

(15+0j)

In [28]:
complex(10.5)

(10.5+0j)

In [29]:
complex(True)

(1+0j)

In [31]:
complex(False)

0j

In [32]:
complex("10")

(10+0j)

In [33]:
complex("10.5")

(10.5+0j)

In [34]:
#form2 -> complex(x, y). x will become real and y will become imaginary part
complex(10, 20)

(10+20j)

In [35]:
complex(10.5, 20.6)

(10.5+20.6j)

In [36]:
complex("10", "20") # can't take second arg if first is a string

TypeError: complex() can't take second arg if first is a string

In [37]:
complex(10, "20") # second arg can't be a string

TypeError: complex() second arg can't be a string

In [38]:
############## bool() conversion #################

In [39]:
#int to bool  -> if o then false and True for non-zero values
bool(10)

True

In [40]:
bool(0)

False

In [1]:
bool(0.1) # beacuse 0.1 is a non-zero value

True

In [2]:
bool(0+0j)

False

In [4]:
bool(1+1j)

True

In [5]:
bool(1j)

True

In [ ]:
#str to bool conversion. if the argument is empty string then only it is False else True for all other cases

In [7]:
bool("True")

True

In [8]:
bool("False")

True

In [9]:
bool('anystring')

True

In [10]:
bool() # thiis is the onluy case for False

False

In [ ]:
################### str() conversion ####################

In [11]:
str(10)

'10'

In [12]:
str(0B1111)

'15'

In [13]:
str(10.1)

'10.1'

In [14]:
str(10+20j)

'(10+20j)'

In [15]:
str(True)

'True'

In [16]:
str(False )

'False'

In [17]:
######################## Data types vs Immutability #############################

In [19]:
#id() function will give the object id of an object
x = 10
print(id(x))

140729482135488

In [20]:
# if we make any change, new object with new id will be created and old id will be garbage collected
x = x + 1
print(id(x))

140729482135520

In [21]:
# another example. We can observe both y and z points to the same object but whene ever any change happens, a new object will be created for that variable
y = 10
z = y
print(id(y))
print(id(z))

140729482135488
140729482135488

In [22]:
# change is happenign and new object will be created here
z = z + 1
print(id(y)) # points to the same old object location
print(id(z)) # new object id

140729482135488
140729482135520

In [23]:
# another example
"""
if multiple variables uses same value like 10, python virtual machine will try use reuse the same object until there is no change for the variable value
This will improve the memory utilization
This is applicable for bool , float and str also. But not applicable for complex types
"""
a = 10
b = 10
c = 10

#below all the variables will print the same object id

print(id(a))
print(id(b))
print(id(c))

140729482135488
140729482135488
140729482135488

In [24]:
# we can also use "is" opereator for comparison 
print(a is b)

True

In [25]:
print(b is c)

True

In [27]:
# object resuability not applicable for Complex types, we could observer 2 different 
aa = 10+20j
bb = 10+20j
print(id(aa))
print(id(bb))

2205519095664
2205519095504

In [28]:
### List data type is mutable object ##### All the changes wil be happening on the original object itself and it is a reference type

In [29]:
l = [10, 20]
print(id(l))
l[1] = [30]
print(id(l))
# we could observe there is no change in the adddress of the list object

2205518282112
2205518282112

In [31]:
# if 2 list references are pointing to the same object, a change will reflect for both the list referecnces
l1 = [10, 20, 30]
l2 = l1 # pointing to the same object
print(l1)
print(l2)
#changing in l1
l1[0] = 7777
#will be reflected to l2 a well
print(l1)
print(l2)

[10, 20, 30]
[10, 20, 30]
[7777, 20, 30]
[7777, 20, 30]

In [32]:
############# COllection Related Data Types #################
"""
list []
tuple ()
set {}
frozen set
dict {key:value}
range
bytes
bytearray
"""

'\nlist\ntuple\nset\nfrozen set\ndict\nrange\nbytes\nbytearray\n'

In [33]:
####### List Type ##########
# Duplicates are allowed and order will be preserved
# Heterogeneous objects are allowed

In [34]:
l = [10, 'dhinesh', 10, 20]
print(type(l))

<class 'list'>

In [35]:
#slicing
l[1:4]

['dhinesh', 10, 20]

In [38]:
#appdend() method to add an element
l1=[]
l1.append(10)
l1.append(20)
l1.append(30)
print(l1)
l1.remove(20)
print(l1)

[10, 20, 30]
[10, 30]

In [ ]:
########## Tuple Type ############
# Tuple is immutable. Used for read only areas
# orders will be preserved and heterogenous objects allowed
# slicing and indexing allowed

In [39]:
t = (10, 20, 30, 'dhinesh')
print(type(t))

<class 'tuple'>

In [40]:
t[1:3]

(20, 30)

In [41]:
t[2]

30

In [42]:
t[3] = 'dhine'

TypeError: 'tuple' object does not support item assignment

In [46]:
# tuple assignment with one element is a special case. We need to add a comma at the end
t1 = (10) # this is not tuple, this will be a int
print(type(t1)) 
t2 = (10 ,)
print(type(t2))

<class 'int'>
<class 'tuple'>

In [47]:
############## set type ####################
# duplicates are not allowed, mutable
# order will not be preserved
# can not be indexed or sliced
# heterogeneous objects allowed

In [50]:
s = {10, 20, 30, 40, 40, 30, "dhinesh"}
print(type(s))
print(s)

<class 'set'>
{'dhinesh', 40, 10, 20, 30}

In [51]:
s[3]

TypeError: 'set' object is not subscriptable

In [52]:
s.add(80)
print(s)
s.remove('dhinesh')
print(s)

{'dhinesh', 40, 10, 80, 20, 30}
{40, 10, 80, 20, 30}

In [55]:
# empty set will beecome a dictionary. So we have to be careful
s1 = {}
print(type(s1))
# we need to use set() method to create empty set
s2 = set()
print(type(s2))

<class 'dict'>
<class 'set'>

In [3]:
########### Frozen Set Type ################  
# It is an immutable set . forzenset() can be used to create
# can not be modified
# Duplicated are not allowed
# order is nto preserved
# indexing and slicing are not allowed
s = {1,2,3,4,4}
fs = frozenset(s)
print(type(fs))
print(fs)

<class 'frozenset'>
frozenset({1, 2, 3, 4})

In [5]:
########## Dictionary Data Types ###########
# key value combinations
# order of the dictionary will be added based on hash values
# duplicate keys are not allowed
# heterogeneous objects are allowed for both keys and values
# indexing and slicing are not allowed

d = {100: "dhinesh", 200: "kanu", 300: "Bru"}
print(type(d))
print(d)

<class 'dict'>
{100: 'dhinesh', 200: 'kanu', 300: 'Bru'}

In [7]:
# adding new value to the dictionary
d[400] = "newvalue"
print(d)

{100: 'dhinesh', 200: 'kanu', 300: 'Bru', 400: 'newvalue'}

In [9]:
len(d)

4

In [10]:
############# range() type ################
# Range object is immutable 

r = range(10)
print(type(r))
print(r)

<class 'range'>
range(0, 10)

In [11]:
for x in r:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [14]:
# another format of range. Between 2 numbers
r1 = range(10,20)
for x in r1:
    print(x)

10
11
12
13
14
15
16
17
18
19

In [15]:
# another format of range. with increment / decrement
r2 = range(1, 21, 2)
for x in r2:
    print(x)

1
3
5
7
9
11
13
15
17
19

In [16]:
# reverse
r3 = range(20,1,-5)
for x in r3:
    print(x)

20
15
10
5

In [17]:
# indexing and slicing
r4 = range(10, 21)

print(r4[2])
print(r4[2:6])

12
range(12, 16)

In [18]:
# range is immutable. We will get an error
r4[2] = 5

TypeError: 'range' object does not support item assignment

In [19]:
############### bytes data type ##################
# we need to use bytes() function
# This can be used for binary data such as video streaming and etc.
# values can only be from 0 to 255
# bytes data type is immutable
l = [10, 20, 30, 40]
b = bytes(l)
print(type(b))
for x in b:
    print(x)

<class 'bytes'>
10
20
30
40

In [20]:
# only allowed values are from 0 to 255
l1 = [10, 20, 30, 40, 256]
b = bytes(l1)

ValueError: bytes must be in range(0, 256)

In [21]:
# bytes data type is immutable
b[0] = 4

TypeError: 'bytes' object does not support item assignment

In [30]:
################# bytearray data type ###################
# bytearray() function can be used
# value should be between 0 and 255
# byte array is mutable and value can be changed
l = [10, 20, 30, 40]
b2 = bytearray(l)
print(b2)
print(type(b2))

bytearray(b'\n\x14\x1e(')
<class 'bytearray'>

In [31]:
for x in b2:
    print(x)

10
20
30
40

In [32]:
b2[0] = 50
for x in b2:
    print(x)

50
20
30
40

In [34]:
##################### None Type #########################
# it means nothing. Similar to null in javascript
# if no external return is there, all the functions in python will return None internaly
def function():
    print("hello")

print(function())

hello
None

In [35]:
type(None)

NoneType

In [36]:
a = None
print(id(a))

140705239681152

In [38]:
# all the None objects will point to only one None object in PVM
# Oberve both a and b are pointing to the same address
a = None
b = None
print(id(a))
print(id(b))

140705239681152
140705239681152

In [ ]:
################ Escape Characters ########################
"""
\n new line
\t horizontal tab
\r carriage return
\b backspace
\f form feed
\' single quote
\" double quote
\\ back slash
"""

In [39]:
print("Dhinesh\bbabu")

Dhinesbabu

In [40]:
print("Dhinesh\tbabu")

Dhinesh	babu

In [41]:
############## Constants in python ################
# By convention all the characters should be in upper case in python 
# but there is no contant concept in python like final in java
# below is a development convention
MAX_LENGTH = 10 # this will be considered as constants

In [1]:
names = ['dhinesh', 'kanu']

for i in names:
    print("Hello ", i)

Hello  dhinesh
Hello  kanu