In [1]:
# syntax [__ for __ in __]

In [2]:
numbers = [1,2,3]

In [3]:
[x*10 for x in numbers]

[10, 20, 30]

In [4]:
[x/2 for x in numbers]

[0.5, 1.0, 1.5]

In [5]:
doubled_numbers = [x*2 for x in numbers]
print(doubled_numbers)

[2, 4, 6]

In [6]:
# working with strings
name = "kanu hasini"

In [7]:
[char.upper() for char in name]

['K', 'A', 'N', 'U', ' ', 'H', 'A', 'S', 'I', 'N', 'I']

In [8]:
#just accessing the very first character in the list items i.e strings
likes = ["playing", "park", "icecreams"]

In [9]:
[item[0].upper() for item in likes]

['P', 'P', 'I']

In [10]:
#numbers
[num*10 for num in range(1,6)]

[10, 20, 30, 40, 50]

In [11]:
#conversion
[bool(val) for val in [0, [], ""]]

[False, False, False]

In [12]:
#numbers to strings
nums = [1,2,3,4]
string_list = [str(num) for num in nums]

In [13]:
string_list

['1', '2', '3', '4']

In [14]:
[str(num)+"kanu" for num in nums]

['1kanu', '2kanu', '3kanu', '4kanu']

In [15]:
#####  List Comprehensions with conditional logics ######

In [16]:
numbers = [1,2,3,4,5,6,7,8,9]
evens = [num for num in numbers if num%2 == 0]
odds = [num for num in numbers if num%2 == 1]
print(evens)
print(odds)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [17]:
[num*2 if num%2 == 0 else num/2 for num in numbers]

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5]

In [18]:
#removing vowels from the list
input = "This is for kanu"
sample = [char for char in input if char not in "aeiou"]
print(sample)

['T', 'h', 's', ' ', 's', ' ', 'f', 'r', ' ', 'k', 'n']

In [19]:
#creating another string from the aboe comprehension. join method can be used
"".join([char for char in input if char not in "aeiou"])

'Ths s fr kn'

In [20]:
###################### NESTED LISTS ##########################

In [21]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]

In [22]:
nested_list[1][2]

6

In [23]:
nested_list[-1]#final list in the nested list

[7, 8, 9]

In [26]:
nested_list[-1][-3]

7

In [27]:
#printing values in the nested lists
for l in nested_list:
    for m in l:
        print(m)

1
2
3
4
5
6
7
8
9

In [28]:
#Nested List Comprehension
[[print(val) for val in l] for l in nested_list]

1
2
3
4
5
6
7
8
9

[[None, None, None], [None, None, None], [None, None, None]]

In [29]:
board = [[num for num in range(1,4)] for val in range(1,4)]

In [30]:
board

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [31]:
[["Kanu" if num%2 == 0 else "Hasini" for num in range(1,8)] for val in range(1,3)]

[['Hasini', 'Kanu', 'Hasini', 'Kanu', 'Hasini', 'Kanu', 'Hasini'],
 ['Hasini', 'Kanu', 'Hasini', 'Kanu', 'Hasini', 'Kanu', 'Hasini']]

In [32]:
["*" for i in range(2,6)]

['*', '*', '*', '*']