In [1]:
################# TUPLE ###################
#ordered collection of items. But it is immutable

In [2]:
x = (1,2,3)

In [3]:
3 in x

True

In [4]:
x[0] = "change"

TypeError: 'tuple' object does not support item assignment

In [5]:
alphabet = ('a','b','c','d')
print(type(alphabet))

<class 'tuple'>

In [8]:
#why tuple?  --> tuples are faster than lists. it makes your code safer. We can use it for unchanges items such as months, weeks and etc
months = ("january", "february", "march")

In [9]:
months[0]

'january'

In [10]:
#sample
locations = {
    (33.52, 554.25): "Tokyo Office",
    (88.52, 545.25): "India Office",
    (78.52, 54.25): "US Office"
}

In [11]:
locations[(33.52, 554.25)]

'Tokyo Office'

In [12]:
#unlike above, we can not use lists as keys in dictionary

In [13]:
#Iterating over tuples
names = ("dhinesh", "kanu", "bru")
for name in names:
    print(name)

dhinesh
kanu
bru

In [14]:
len(months)

3

In [16]:
#count() method
names.count("dhinesh")

1

In [18]:
#index() method
names.index("kanu")

1

In [19]:
#nested tuples
nums = (1,2,3,(4,5),6,7)

In [20]:
nums[0:]

(1, 2, 3, (4, 5), 6, 7)

In [21]:
nums[::]

(1, 2, 3, (4, 5), 6, 7)

In [22]:
nums[1:3]

(2, 3)

In [23]:
nums[:-1]

(1, 2, 3, (4, 5), 6)

In [25]:
nums[-1:]

(7,)

In [26]:
###################### SETS ###########################

In [27]:
#can not have duplicate values and they are unordered so you can not access them with index values

In [28]:
new_set  = set({1,2,3,4,5,6,6,6,7})

In [29]:
new_set # duplciates will be removed from the sets

{1, 2, 3, 4, 5, 6, 7}

In [30]:
#another way
s = {1,4,5} # simply

In [31]:
#Accessign set values
1 in s

True

In [32]:
#iteratin using for loops
for thing in s:
    print(thing)

1
4
5

In [33]:
#another example
cities = ["coimbatore", "bangalore", "chennai", "chennai", "coimbatore", "bangalore", "chennai"]
print(set(cities))

{'coimbatore', 'chennai', 'bangalore'}

In [34]:
print(len(set(cities)))

3

In [35]:
### Set methods and Set Math ######

In [36]:
#add() method
s = set([1,2,3])

In [37]:
s.add(5)

In [38]:
s

{1, 2, 3, 5}

In [39]:
#remove method
s.remove(5)

In [40]:
s

{1, 2, 3}

In [41]:
s.remove(6)

KeyError: 6

In [42]:
#discard method -> will not throuw error if the item is not available
s.discard(3)

In [43]:
s

{1, 2}

In [44]:
s.discard(8) # see. No error

In [45]:
#copy() method
another_s = s.copy()

In [46]:
another_s

{1, 2}

In [47]:
#clear() method
another_s.clear()

In [48]:
another_s

set()

In [49]:
########### Set Math ###################
students_1 = {"kanu", "hasini", "dhinesh", "babu", "bru"}
students_2  =  {"kumar", "raj", "kanu", "dhinesh"}

In [50]:
students_1|students_2 #union

{'babu', 'bru', 'dhinesh', 'hasini', 'kanu', 'kumar', 'raj'}

In [51]:
students_1&students_2 #intersection

{'dhinesh', 'kanu'}

In [52]:
############### Set Comprehension ###########

In [53]:
new_set = {x**2 for x in range(1,5)}

In [54]:
new_set

{1, 4, 9, 16}

In [55]:
char_set = {char.upper() for char in 'hello'}

In [56]:
char_set

{'E', 'H', 'L', 'O'}

In [57]:
string = "sequioa"

In [58]:
len({char for char in string if char in 'aeiou'}) == 5

True

In [59]:
len({char for char in string if char in 'aeiou'}) == 5

True